:root {
  --ff-sans: "Open Sans", sans-serif;
  --ff-serif: "Raleway", sans-serif;

  /* small screen font-sizes */
  --fs-100: 0.4375rem; /* 7px */
  --fs-200: 0.625rem; /* 10px */
  --fs-300: 0.75rem; /* 12px */
  --fs-400: 0.875rem; /* 14px */
  --fs-500: 1rem; /* 16px */
  --fs-700: 1.125rem; /* 18px */
  --fs-900: 1.5rem; /* 24px */

  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-primary-200: #1b2330;
  --clr-primary-300: #202a3c;
  --clr-primary-600: #181f2a;
  --clr-primary-700: #1c2431;

  --clr-secondary-200: hsl(176, 68%, 64%);
  --clr-secondary-250: #62e0d9;
  --clr-secondary-300: hsl(198, 60%, 50%);
  --clr-secondary-400: hsl(0, 100%, 63%);

  --br: 0.5625rem;
}

@media (min-width: 1024px) {
  :root {
    /* Large screen font-sizes */
    --fs-200: 0.875rem; /* 14px */
    --fs-300: 1rem; /* 16px */
    --fs-700: 1.25rem; /* 20px */
    --fs-900: 2.5rem; /* 40px */
  }
}
/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dd,
figure,
blockquote {
  margin: 0;
  font-family: var(--ff-serif);
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: var(--br);
}

body {
  line-height: 1.5;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-100);
}

/* Typography */

.intro__title {
  font-size: var(--fs-900);
  line-height: 1.7;
}

.section__title {
  font-size: var(--fs-600);
}

.text-700 {
  font-size: var(--fs-700);
}

.text-500 {
  font-size: var(--fs-500);
}

a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

a:hover {
  color: var(--clr-secondary-250);
}

/* Utility Class */
.spacer {
  margin-top: 8.125rem;
}

.flow-content > * + * {
  margin-top: 1rem;
}

.split {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.bg-lighter {
  background-color: var(--clr-primary-300);
}

.bg-darker {
  background-color: var(--bg-c, var(--clr-primary-600));
}

/* General Lay-out */
/* Navigation */
.nav {
  margin-top: 1.5rem;
}

.nav__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav .split {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  font-size: var(--fs-300);
}

.nav__list > * + * {
  margin-left: 1.5rem;
}

.nav img {
  max-width: 176px;
  height: 24px;
}

.nav li a:hover {
  border-bottom: 1px solid;
  transition: 0.2s ease-in;
}

@media (min-width: 1024px) {
  .nav {
    margin-top: 4.375rem;
  }
  .nav img {
    height: 52px;
  }

  .nav__list > * + * {
    margin-left: 3.75rem;
  }
}

@media (min-width: 1440px) {
  .nav__container {
    padding: 0;
  }
}

/* Intro */
.intro {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1.5rem;
  margin-top: 3rem;
}

.intro > * + * {
  margin-top: 1.5rem;
}

.intro__sub {
  max-width: 589px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .intro {
    max-width: 720px;
    margin: 0 auto;
  }
  .intro__sub {
    font-size: 20px;
  }

  .intro {
    padding: 0;
  }
}

/* Features */
.features .grid {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5rem;
}

@media (min-width: 768px) {
  .features .grid {
    grid-template-columns: 1fr 1fr;
    max-width: 880px;
    margin: 0 auto;
    grid-gap: 7rem;
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .features .grid {
    padding: 0;
    grid-gap: 9.065rem;
  }
}

/* About */
.about {
  max-width: 1235px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

.about header {
  margin-top: 3rem;
}

.about .btn {
  position: relative;
}

.about .btn::after {
  content: url(/images/icon-arrow.svg);
  position: absolute;
  top: 1.2rem;
  right: -10px;
}

@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    align-items: center;
  }

  .about > * + * {
    margin-left: 3.5625rem;
    margin-top: 0;
  }

  .about h2 {
    width: 15ch;
  }
}

/* Testimonials */
.testimonial {
  margin-top: 10.625rem;
}

.testimonial__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 3rem;
}

.testimonial__container::before {
  content: url(/images/bg-quotes.png);
  position: relative;
  top: 15px;
  left: 10px;
  z-index: -1;
}

.testimonial__card {
  border-radius: var(--br);
  padding: 1.25rem;
}

.testimonial__card > * + * {
  margin-top: 1rem;
}

.testimonial__profile > * + * {
  margin-left: 1rem;
}

.testimonial__profile img {
  border-radius: 50%;
  width: 24px;
}

.testimonial__card blockquote {
  font-size: var(--fs-200);
}

.testimonial__profile h4 {
  font-size: 10px;
}

.testimonial__profile p {
  font-size: var(--fs-100);
  margin-top: 0.2rem;
}

.testimonial__profile {
  display: flex;
  align-items: center;
}

@media (min-width: 1024px) {
  .testimonial__container::before {
    top: -32px;
    left: 50px;
  }

  .testimonial__card {
    padding: 2.5rem 1.875rem 1.5rem;
  }

  .testimonial .split {
    flex-direction: row;
  }

  .testimonial .flow-content > * + * {
    margin-top: 0;
    margin-left: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .testimonial__container {
    padding: 0;
  }
}

.cta__container {
  padding: 0 1.5rem;
  /* background-color: var(--clr-primary-200);
  border: solid;
  padding: 2.5rem 1.75rem;
  border-radius: var(--br);
  max-width: 863px;
  margin: 0 auto; */
}

.cta__content {
  max-width: 709px;
  margin: 0 auto;
}

.cta__form {
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  .cta__form {
    flex-direction: row;
  }

  .cta__form .btn {
    width: 280px;
  }
}

.cta__form input,
.cta__form button {
  width: 100%;
}

.cta__form input {
  padding: 1.1875rem;
  border-radius: 2rem;
}

/* Footer */
.footer {
  max-width: 1240px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.footer__logo {
  width: 108px;
}

.footer address {
  font-style: normal;
}

.footer__contact,
.footer__mail,
.footer__location {
  flex-direction: row;
  align-items: flex-start;
}

.footer__nav li:nth-child(5) {
  margin-top: 2.25rem;
}

.footer__social {
  flex-direction: row;
  justify-content: center;
}

.footer__social i {
  border: 1px solid;
  padding: 0.6em;
  border-radius: 100%;
}

.footer__social i:hover {
  color: var(--clr-secondary-250);
  transition: 0.2s ease-in;
  transform: scale(90%);
}

@media (min-width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    grid-column-gap: 5rem;
    padding: 0;
  }

  .footer > *:nth-child(2) {
    grid-column: 1 / 3;
  }

  .footer > *:nth-child(3) {
    grid-column: 3 / 4;
  }

  .footer > *:nth-child(4) {
    grid-column: 5 / -1;
  }

  .footer address {
    display: grid;
    grid-template-columns: 379px max-content;
  }

  .footer__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Components */

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: var(--fs-300);
  font-family: var(--ff-sans);
  background: var(--bg, none);
  color: var(--fg, var(--clr-secondary-200));
  text-decoration: none;
  padding: 1rem;
}

.btn-accent {
  --bg: var(--clr-secondary-200);
  --fg: var(--clr-neutral-100);
  border-radius: 2rem;
  outline: none;
  border: none;
  width: 280px;
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
}

@media (min-width: 1024px) {
  .cta__form {
    --flex-d: row;
  }

  .cta__form .btn-accent {
    margin-top: 0;

    font-size: 14px;
  }
}
