:root {
  --ff-sans: "Open Sans", sans-serif;
  --ff-serif: "Raleway", sans-serif;

  /* small screen font-sizes */
  --fs-100: 0.5rem;
  --fs-200: 0.625rem;
  --fs-300: 0.75rem;
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.125rem;
  --fs-700: 1.125rem;
  --fs-900: 1.5rem;

  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-primary-200: hsl(219, 30%, 18%);
  --clr-primary-300: hsl(217, 27%, 15%);
  --clr-primary-400: hsl(217, 27%, 13%);
  --clr-primary-500: hsl(215, 52%, 9%);
  --clr-primary-600: hsl(217, 27%, 13%);
  --clr-primary-700: hsl(217, 28%, 15%);

  --clr-secondary-200: hsl(176, 68%, 64%);
  --clr-secondary-300: hsl(198, 60%, 50%);
  --clr-secondary-400: hsl(0, 100%, 63%);

  --br: 0.5625rem;
}

@media (min-width: 40em) {
  :root {
    /* Large screen font-sizes */
    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1rem;
    --fs-600: 2.5rem;
    --fs-700: 1.25rem;
    --fs-900: 2.5rem;
  }
}
/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
  font-family: var(--ff-serif);
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: var(--br);
}

body {
  line-height: 1.5;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  background-color: var(--clr-primary-600);
  color: var(--clr-neutral-100);
}

/* Typography */

.intro__title {
  font-size: var(--fs-900);
  line-height: 1.7;
}

.intro__sub {
  max-width: 589px;
  margin: 0 auto;
}

.section__title {
  font-size: var(--fs-600);
}

.text-700 {
  font-size: var(--fs-700);
}

.text-500 {
  font-size: var(--fs-500);
}

a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

/* Utility Class */
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1em);
}

.flow-content--lg > * + * {
  margin-top: 5em;
}

.m-space {
  margin-top: 1.5rem;
}

.page__info > * {
  margin-top: 2em;
}

.split {
  display: flex;
  flex-direction: var(--flex-d, column);
  justify-content: var(--j-content, space-between);
  align-items: center;
}

.text-center {
  text-align: center;
}

.bg-lighter {
  background-color: var(--clr-primary-200);
}

.bg-darker {
  background-color: var(--bg-c, var(--clr-primary-600));
}

/* General Lay-out */

.header {
  padding: 1.5rem 0;
}

.nav {
  --flex-d: row;
}

.nav img {
  max-width: 176px;
  height: 24px;
}
.nav ul {
  margin: 0;
}

.nav li {
  margin-left: 1.5em;
}
.nav li a:hover {
  border-bottom: 1px solid;
}

.section__intro {
  margin-top: 3rem;
}

.intro__wrapper {
  max-width: 734px;
  margin: 2rem auto 0 auto;
}

.section-features {
  padding: 8.25rem 0;
}

.testimonials {
  padding: 3em;
}

.testimonials__wrapper > * + * {
  margin-top: 1.5rem;
}

.testimonial__card {
  padding: 2em;
  border-radius: var(--br);
  font-size: var(--fs-200);
}

.testimonial__card img {
  border-radius: 50%;
  width: 24px;
}

.testimonial__card footer {
  display: flex;
  align-items: center;
}

.testimonial__card:first-child::before {
  content: url(/images/bg-quotes.png);
  position: relative;
  top: -3.2rem;
  left: -0.8rem;
  z-index: -1;
}

.testimonial__card div {
  margin-left: 1rem;
}

.cta__wrapper {
  background-color: var(--clr-primary-700);
  padding: 2.5rem 1.75rem;
  border-radius: var(--br);
  max-width: 863px;
  margin: 0 auto;
}

.cta__content {
  max-width: 709px;
  margin: 0 auto;
}

.cta__form {
  margin-top: 2rem;
}

.cta__form input,
.cta__form button {
  width: 100%;
}

.cta__form input {
  padding: 1.1875rem;
  border-radius: 2rem;
}

.footer {
  padding: 5rem 0 3.25rem 0;
}

.footer address {
  margin-top: 2.5rem;
  font-style: normal;
  --j-content: flex-start;
}

.footer address p {
  margin-left: 1em;
}

.footer address .split {
  align-items: flex-start;
}

.footer__nav {
  margin-top: 5rem;
}

.footer__nav li:nth-child(5) {
  margin-top: 5rem;
}

.footer__social {
  --flex-d: row;
  --j-content: center;
  margin-top: 3.5rem;
}

.footer__social > * + * {
  margin-left: 1em;
}

.footer__social i {
  border: 1px solid;
  padding: 0.6em;
  border-radius: 100%;
}

/* Components */

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: var(--fs-300);
  font-family: var(--ff-sans);
  background: var(--bg, none);
  color: var(--fg, var(--clr-secondary-200));
  text-decoration: none;
}

.btn-accent {
  --bg: var(--clr-secondary-200);
  --fg: var(--clr-neutral-100);
  border-radius: 2rem;
  outline: none;
  border: none;
  width: 280px;
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
}

@media (min-width: 1024px) {
  .header {
    padding: 4.5625rem 0;
  }

  .header img {
    width: 176px;
    height: 52px;
  }

  .testimonials__wrapper {
    --flex-d: row;
  }

  .testimonials {
    display: flex;
    gap: 3em;
  }

  .section-features {
    padding: 9.875rem 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 880px;
    margin: 0 auto;
    grid-gap: 6em;
  }

  .grid > * + * {
    margin: 0;
  }

  .about__wrapper {
    --flex-d: row;
    gap: 2em;
  }

  .cta__form {
    --flex-d: row;
  }

  .cta__form .btn-accent {
    margin-top: 0;

    font-size: 14px;
  }
}
